@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fiyrnq');
  src:  url('fonts/icomoon.eot?fiyrnq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fiyrnq') format('truetype'),
    url('fonts/icomoon.woff?fiyrnq') format('woff'),
    url('fonts/icomoon.svg?fiyrnq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contacts-nav:before {
  content: "\e92a";
  color: #00416b;
}
.icon-mail-blank:before {
  content: "\e928";
  color: #00426b;
}
.icon-mobile:before {
  content: "\e929";
  color: #00426b;
}
.icon-green-caret-down:before {
  content: "\e927";
  color: #2fc69a;
}
.icon-zoom-out:before {
  content: "\e925";
}
.icon-zoom-in:before {
  content: "\e926";
}
.icon-fullscreen-capture:before {
  content: "\e915";
  color: #fff;
}
.icon-text-capture:before {
  content: "\e918";
  color: #fff;
}
.icon-logout:before {
  content: "\e91a";
  color: #064269;
}
.icon-cropped-capture:before {
  content: "\e91b";
  color: #fff;
}
.icon-cart-arrow-down:before {
  content: "\e90d";
}
.icon-share-arrow:before {
  content: "\e912";
}
.icon-emoticon:before {
  content: "\e911";
  color: #c9c9c9;
}
.icon-move:before {
  content: "\e910";
  color: #05416b;
}
.icon-arrow-alt-circle:before {
  content: "\e90e";
  color: #fff;
}
.icon-arrow-alt-circle-right:before {
  content: "\e90f";
  color: #00416b;
}
.icon-closed-eye:before {
  content: "\e90c";
  color: #05416b;
}
.icon-trash:before {
  content: "\e90a";
  color: rgba(255, 0, 0, 0.5);
}
.icon-pencil:before {
  content: "\e90b";
  color: #1cb88c;
}
.icon-close:before {
  content: "\e909";
  color: #fffdff;
}
.icon-shared:before {
  content: "\e907";
  color: #00b88c;
}
.icon-comments:before {
  content: "\e908";
  color: #0e4d75;
}
.icon-arrow-left:before {
  content: "\e906";
  color: #05416b;
}
.icon-eye:before {
  content: "\e904";
  color: #1cb88c;
}
.icon-arrow-right:before {
  content: "\e905";
  color: #05416b;
}
.icon-feather-book:before {
  content: "\e913";
}
.icon-books:before {
  content: "\e900";
}
.icon-tags:before {
  content: "\e903";
}
.icon-journals:before {
  content: "\e901";
}
.icon-timeline:before {
  content: "\e902";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-expand:before {
  content: "\f065";
}
.icon-compress:before {
  content: "\f066";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-file-upload:before {
  content: "\f574";
}
.icon-volume-mute:before {
  content: "\f6a9";
}
.icon-circle:before {
  content: "\f111";
}
.icon-file:before {
  content: "\f15b";
}
.icon-google-drive:before {
  content: "\f3aa";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-exit:before {
  content: "\e914";
}
.icon-help:before {
  content: "\e916";
}
.icon-library:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e919";
}
.icon-clock:before {
  content: "\e91c";
}
.icon-mail:before {
  content: "\e91d";
}
.icon-billing:before {
  content: "\e91e";
}
.icon-brush:before {
  content: "\e91f";
}
.icon-account:before {
  content: "\e920";
}
.icon-security:before {
  content: "\e921";
}
.icon-notifications:before {
  content: "\e922";
}
.icon-contacts:before {
  content: "\e923";
}
.icon-mailbox:before {
  content: "\e924";
}
.icon-compress-alt:before {
  content: "\f422";
}
.icon-search:before {
  content: "\f002";
}
.icon-times-light:before {
  content: "\f00f";
}
