@import url("../fonts/google-fonts/style.css");
@import url("../fonts//saasuma-icons/style.css");

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/saasuma-icons/fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/saasuma-icons/fonts/Dosis-VariableFont_wght.ttf');
}

body {
  margin: 0;
  padding: 0;
  font: 12pt "Tahoma";
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

figure { 
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: auto;
    margin-block-end: auto;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4cm;
  color: grey;
  transform: translateX(-50%) translateY(-50%) rotate(-35deg);
  opacity: 0; 
}

section {
  height: 927px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.header {
  margin-top: 5rem;
  margin-bottom: 3rem;
  border-bottom: 0.25rem solid #000000;
}

.date-header {
  margin-bottom: 0;
  font-size: 3rem;
}

.article-content {
  border-bottom: 0.125rem solid #000000;
}

.article-title {
  font-size: 4rem;
}

.article-text {
  font-size: 2.5rem;
}


.document-content {
  padding-top: 50%;
}

.document-title {
  font-size: 7vw;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  font-family: 'Arvo';
  margin-block-start: 0;
  margin-block-end: 0;
}

.document-date {
  text-align: center;
  margin-bottom: 5rem;
}

.table-of-contents > h3 {
  font-size: 5.5vw;
  margin: auto;
  border-bottom: 1px solid #000000;
  position: relative;
  margin-top: 3cm;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Arvo";
  margin-bottom: 1cm;
}

.table-of-contents-body {
  font-size: 2.5vw;
  padding: 15px;
  font-family: "Khula";
}

.table-of-contents {
  text-align: center;
  padding-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.end-line {
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
    margin-top: 2cm;
}

.table-content-title {
    font-size: 4.5vw;
    margin-bottom: 40px;    
    text-align: center;     
    font-family: "Arvo";   
}

.vertical-align-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 3cm;
    z-index: 100;
}

.subtitle {
    font-size: 2.5vw;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin: 20px;
    font-family: 'Arvo';
}

.right-align-text { 
    text-align: right;
}

.left-align-text {
    text-align: left;
}

.aam-category-text { 
    font-size: 3vw;
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-family: 'Khula';
}

.two-margin {
    margin-left: 40px;
    margin-right: 40px;
}

.aam-question-text {
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
    /*border-bottom: 1px solid #000;*/
    margin-bottom: 10px;
    font-family: 'Khula';
}

.journal-title-text {
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 20px;
}

.journal-comments-title-text {
  margin-top: 10px;
  font-size: 2.5vw;
  font-weight: italic;
  margin-bottom: 10px;
}

.journal-text {
    word-break: break-word;
}

.journal-comments-username {
  word-break: break-word;
  padding-left: 5px;
  font-size: 2.5vw;
}

.journal-comments-text {
  word-break: break-word;
  padding: 20px;
	font-size: 2.5vw;
	border: 1px solid #CCC;
	border-radius: 5px;
}

.one-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.three-margin {
  margin-left: 60px;
  margin-right: 60px;
}

.left-align-pagenumber { 
    left: 0;
}

.right-align-pagenumber {
    right: 0;
}

.footer .page-number { 
    padding-bottom: 20px;
}

.page:nth-child(2n) .page-number {
  left: 40px;
  text-align: left;
}

.page:nth-child(2n+1) .page-number {
  right: 40px;
  text-align: right;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.logo-img {
    width: 2cm;
    height: 2cm;
}
.small-logo-img {
    max-height: 1cm !important;
    max-width: 1cm !important;
    padding: .2cm;
}

.subpage img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.logo-img-container {
    display: flex;
    flex-direction: row;
}

.line { 
    width: 4cm;
    border-bottom: 1px solid #000000;
    transform: translateY(-50%);
    flex: 1;
}

.left-3-margin { 
    margin-left: 3cm;
}

.right-3-margin { 
    margin-right: 3cm;
}

.left-2-margin { 
    margin-left: 2cm;
}

.right-2-margin { 
    margin-right: 2cm;
}


.cover-title {
  font-weight: bold;
  font-size: 8vw;
  border-bottom: 1px solid #00ACC4;
  padding: 2vw;
  margin: auto;
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
  font-family: Roboto Slab;
  color: rgb(20, 13, 108);
}

.title-container {
  padding-top: 20vh;
}

.logo-container {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 10%;
  align-items: flex-end;
  justify-content: center;
}

.back-cover-container {
  padding-top: 20vh;
  padding-left: 10vw;
}

.back-cover {
  color: #FFF;
}

.back-logo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 10%;
  color: #FFF;
}

.back-logo-container>div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.logo-title-JRNL {
  font-size: 3vw;
  line-height: 1;
  padding-left: 10px;
  color: rgb(20, 13, 108);
  font-stretch: expanded;
}

.logo-title-COM {
  color: #aaa;
  font-size: 1vw;
}

.logo-cover-image {
  width: 15vw;
}

.life-recording {
  font-family: Dosis;
  letter-spacing: 1px;
}

.journal-comment-container {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin-bottom: 20px;
}

.journal-comment-user-container {
	padding: 5px;	
}

.journal-comment-user-container > img { 
	width: 7vw;
	height: 7vw;
	border-radius: 50%;
	overflow: hidden;
}

.journal-comment-content-container {
	flex: 1
}

.journal-comment-content-info {
	margin-top: 5px;
	font-size: 2.2vw;
}

.left-page .subpage {
    padding-right: 3vw;
}

.left-page .subtitle {
    text-align: left !important;
}

.right-page .subpage {
    padding-left: 3vw;
}

.right-page .subtitle {
    text-align: right !important;
}

.qrcode-demo.video {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    padding: 1px;
    padding-top: 5px;
}

.pdf-content-media-content-files {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdf-content-media {
    display: flex;
    align-items: center;
}

.file-date, .file-type {
    font-family: "open sans", sans-serif;
    font-size: 0.5rem;
    font-weight: normal;
    color: #000000;
    margin-block-start: 0;
    margin-block-end: 0;
}
        
.file-size, .file-name {
    font-family: "open sans", sans-serif;
    font-size: 0.5rem;
    font-weight: 600;
    color: #000000;
    margin-block-start: 0;
    margin-block-end: 0;
}

.pdf-content-media > img {
    width: 2.9375rem;
    height: 2.5rem;
    object-fit: contain;
    margin-right: 0.9375rem;
}

.subpage {
    padding-top: 30px;
}

q::before, q::after {
  content: '';
  display: none;
}

.pdf-content-header {
    margin-top: .18in;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdf-content-header > .pdf-content-title {
    margin-bottom: 0;
    padding-left: 0;
    flex: 1;
}

.pdf-content-header > .pdf-content-location {
    display: flex;
    align-items: center;
}

.pdf-content-location > i {
    margin-right: 0.625rem;
}

.pdf-location-title {
    font-family: "open sans", sans-serif;
    font-size: 0.5rem;
    font-weight: 600;
    color: #000;
    line-height: 1.2 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.pdf-location-subtitle {
    font-family: "open sans", sans-serif;
    font-size: 0.5rem;
    text-align: left;
    color: #000000;
    line-height: 1.2 !important;
    padding: 0 !important;
    margin: 0 !important;
}