body {
  margin: 0;
  padding: 0;
  font: 12pt "Tahoma";
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4cm;
  color: grey;
  transform: translateX(-50%) translateY(-50%) rotate(-35deg);
  opacity: 0.5; 
}

section {
  height: 927px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.header {
  margin-top: 5rem;
  margin-bottom: 3rem;
  border-bottom: 0.25rem solid #000000;
}

.date-header {
  margin-bottom: 0;
  font-size: 3rem;
}

.article-content {
  border-bottom: 0.125rem solid #000000;
}

.article-title {
  font-size: 4rem;
}

.article-text {
  font-size: 2.5rem;
}


.document-content {
  padding-top: 50%;
}

.document-title {
  font-size: 48px;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}

.document-date {
  text-align: center;
  margin-bottom: 5rem;
}

.table-of-contents > h3 {
  font-size: 40px;
  margin: auto;
  border-bottom: 1px solid #000000;
  position: relative;
  margin-top: 3cm;
  margin-left: 3cm;
  margin-right: 3cm;
  padding-bottom: 1cm;
}

.table-of-contents-body {
  font-size: 20px;
  padding: 15px;
}

.table-of-contents {
  text-align: center;
  padding-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.end-line {
    margin-left: 3cm;
    margin-right: 3cm;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.table-content-title {
    font-size: 40px;
    margin-bottom: 40px;    
    text-align: center;        
}

.vertical-align-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.subtitle {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin: 40px;
}

.right-align-text { 
    text-align: right;
}

.left-align-text {
    text-align: left;
}

.aam-category-text { 
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.two-margin {
    margin-left: 40px;
    margin-right: 40px;
}

.aam-question-text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.journal-title-text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.journal-text {
    word-break: break-word;
}

.one-margin {
    margin-left: 20px;
    margin-right: 20px;
}

.left-align-pagenumber { 
    left: 0;
}

.right-align-pagenumber {
    right: 0;
}

.footer .page-number { 
    padding-bottom: 20px;
}

.page:nth-child(2n) .subtitle {
    text-align: left !important;
}

.page:nth-child(2n+1) .subtitle {
    text-align: right !important;
}
.page:nth-child(2n) .page-number {
  left: 0;
}

.page:nth-child(2n+1) .page-number {
  right: 0;
}

.logo-img {
    width: 3cm;
    height: 3cm;
}

.subpage img {
    max-width: 100%;
    max-height: 100%;
}