div.table-of-contents-body::after {
  content: target-counter(attr(href, url), page);
}

img {
  image-resolution: from-image;
}

@page:right {
  margin: 0.5in 0.5in 0.5in 0.3in;
  @bottom-right {
    text-align: left;
    margin: 0;
    margin-bottom: 30pt;
    content: counter(page);
    font-size: .13in;
    font: sans-serif;
  }
}

@page:left {
  margin: 0.5in 0.3in 0.5in 0.5in;
  @bottom-left {
    text-align: right;
    margin: 0;
    margin-bottom: 30pt;
    content: counter(page);
    font-size: .13in;
    font: sans-serif;
  }
}

@page:first {
  margin: 0.3in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}
@page page-first {
  margin: 0.3in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}
@page page-empty {
  margin: 0.3in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}
@page table-of-contents {
  margin: 0.3in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}
@page journal-title {
  margin: .5in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}

@media print {
    .original-content {
        display: none !important;
    }
    map {
        display: block !important;
    }
}

.page-first {
  page: page-first;
}
.journal-title {
  page: journal-title;
}
.page-empty {
  page: table-of-contents;
}
.toc, .tct {
  page: table-of-contents;
}
.journal-date {
  text-align: inside;
}
.page {
  page-break-before: always;
  page-break-after: always;
}
.subpage {
  padding-top: 0;
}
img {
    page-break-inside: avoid;
}
p {
  widows: 3;
  orphans: 3;
}

body {
  counter-increment: page;
  counter-reset: page;
}

.aam-item-content {
  padding-bottom: .1in;
}
.aam-item-content:last-child {
  padding-bottom: .2in;
}

@page {
  size: 6in 9in;
  font: "Tahoma";
  font-weight: 300;
  font-size: 11pt;
}

.document-title {
  font-size: .42in;
  padding-top: 2.5in;
  font-family: "Arvo";
}

.table-of-contents > h3 {
  font-size: .33in;
  font-family: "Arvo";
}

.table-of-contents-body {
  font-size: .15in;
  font-family: "Khula";
}

.table-content-title {
  padding-top: 3in;
  font-size: .45in;
  font-family: "Khula";
  font-weight: 300;
  margin-bottom: .1in;
  text-align: center;
}

.subtitle {
  font-size: .13in;
  font-family: 'Arvo';
  font-weight: 300;
}

.aam-category-text {
  font-size: .19in;
  font-family: 'Tahoma';
  font-weight: bold;
}
.aam-question-text {
  font-size: .165in;
  font-weight: bold;
  font-family: sans-serif;
}

.journal-title-text {
  font-size: .18in;
}
.journal-comments-title-text {
  margin-top: 10px;
  font-size: .15in;
  margin-bottom: 10px;
}
.journal-comments-username {
  font-size: .15in;
}
.journal-comments-text {
  font-size: .15in;
}
.journal-comment-user-container > img { 
  width: .42in;
  height: .42in;
}
.journal-comment-content-info {
  font-size: .132in;
}
.page {
  page-break-before: always;
  page-break-after: always;
}

.subpage {
  padding-top: 0;
}

p, .item-content {
  font-family: 'Khula';
  font-size: .15in;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.aam-date {
  font-family: sans-serif;
  font-style: italic;
  font-size: .1in;
}

body[start=even] {
  break-before:left;
}

.journal-title {
  margin-left: .5in;
  margin-right: .5in;
}


.pdf-content-header {
    margin-top: .18in;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdf-content-header > .pdf-content-title {
    margin-bottom: 0;
    padding-left: 0;
    flex: 1;
}

.pdf-content-header > .pdf-content-location {
    display: flex;
    align-items: center;
}

.pdf-content-location > i {
    margin-right: 0.625rem;
}

.pdf-location-title {
    font-family: "open sans", sans-serif;
    font-size: 0.5rem;
    font-weight: 600;
    color: #000;
    line-height: 1.2 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.pdf-location-subtitle {
    font-family: "open sans", sans-serif;
    font-size: 0.5rem;
    text-align: left;
    color: #000000;
    line-height: 1.2 !important;
    padding: 0 !important;
    margin: 0 !important;
}