div.table-of-contents-body::after {
  content: target-counter(attr(href, url), page);
}

img {
  image-resolution: from-image;
}

@page:right {
  margin: 1in 0.5in 0.5in 0.7in;
  @bottom-right {
    content: counter(page);
    font-size: .13in;
    font-family: 'Khula', sans-serif;
    margin-bottom: 30pt;
    margin-left: 0.5in;
    text-align: right;
  }
  @top-right {
    content: element(jheader);
    font-size: .13in;
    font-family: 'Khula', sans-serif;
    margin-top: 0.5in;
    text-align: right;
  }
}

@page:left {
  margin: 1in 0.7in 0.5in 0.5in;
  @bottom-left {
    content: counter(page);
    font-size: .13in;
    font-family: 'Khula', sans-serif;
    margin-right: 0.5in;
    margin-bottom: 20pt;
    text-align: left;
  }
  @top-left {
    content: element(jheader);
    font-size: .13in;
    font-family: 'Khula', sans-serif;
    margin-top: 0.5in;
    text-align: left;
  }
}

@page:first {
  margin: 0.3in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}
@page page-first {
  margin: 0.3in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}
@page page-empty {
  margin: 0.3in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}
@page table-of-contents {
  margin: 0.3in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}
@page journal-title {
  margin: .5in;
  @bottom-right {content: normal;}
  @bottom-left {content: normal;}
}

@media print {
  .original-content {
      display: none !important;
  }
  map {
      display: block !important;
  }
}

.page-first {
  page: page-first;
}
.journal-title {
  page: journal-title;
}
.page-empty {
  page: table-of-contents;
}
.toc, .tct {
  page: table-of-contents;
}
h3.journal-item {
  position: running(jheader);
}
.journal-date {
  text-align: outside;
  padding-bottom: 0;
}
.page {
  page-break-before: always;
  page-break-after: always;
}
.subpage {
  padding-top: 0;
}
img {
    page-break-inside: avoid;
}
p, .entry-base-content {
  widows: 1;
  orphans: 1;
}

body {
  counter-increment: page;
  counter-reset: page;
}

.aam-item-content {
  padding-bottom: .1in;
}
.aam-item-content:last-child {
  padding-bottom: .2in;
}

@page {
  size: 6in 9in;
  font: "Tahoma";
  font-weight: 300;
  font-size: 11pt;
}

.document-title {
  font-size: .42in;
  padding-top: 2.5in;
  font-family: "Arvo";
}

.table-of-contents > h3 {
  font-size: .33in;
  font-family: "Arvo";
}

.table-of-contents-body {
  font-size: .15in;
  font-family: "Khula";
}

.table-content-title {
  padding-top: 3in;
  font-size: .45in;
  font-family: "Khula";
  font-weight: 300;
  margin-bottom: .1in;
  text-align: center;
}

.subtitle {
  font-size: .13in;
  font-family: 'Arvo';
  font-weight: 300;
}

.aam-category-text {
  font-size: .19in;
  font-family: 'Tahoma';
  font-weight: bold;
}
.aam-question-text {
  font-size: .165in;
  font-weight: bold;
  font-family: sans-serif;
}

.journal-title-text {
  font-size: .18in;
}
.journal-comments-title-text {
  margin-top: 10px;
  font-size: .13in;
  margin-bottom: 10px;
}
.journal-comments-username {
  font-size: .13in;
}
.journal-comments-text {
  font-size: .13in;
}
.journal-comment-user-container > img { 
  width: .42in;
  height: .42in;
}
.journal-comment-content-info {
  font-size: .132in;
}
.page {
  page-break-before: always;
  page-break-after: always;
}

.subpage {
  padding-top: 0;
}

p, .item-content {
  font-family: 'Khula';
  font-size: .13in;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.aam-date {
  font-family: sans-serif;
  font-style: italic;
  font-size: .1in;
}

body[start=even] {
  break-before:left;
}
.journal-new-date {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: -.68in;
  margin-bottom: .2in;
  overflow: hidden;
  z-index: -1;
}
.journal-title {
  margin-left: .5in;
  margin-right: .5in;
  z-index: 999;
}

.one-margin {
  margin-left: .1in;
  margin-right: .1in;
}

