<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Khula">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Slab"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Bree+Serif"
    rel="stylesheet"
  />
  <link href="{{ static_url }}css/pdf.css" rel="stylesheet"/>

{% if json_obj.export_format == '6X9' %}
  <link href="{{ static_url }}css/print-pdf-6x9.css" rel="stylesheet" />
{% endif %}

{% if json_obj.color is true %}
  <style>
    @page {
      size: 6.25in 9.25in;
    }
  </style>
{% else %}
  <style>
    img { 
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    p {
      color: black !important;
    }
  </style>
{% endif %}

{% if json_obj.preview is true %}
  <style>
    @page {
      @prince-overlay {
        margin-top: -1in;
        content: "PREVIEW";
        color: rgba(0, 0, 0, 0.3);
        font-size: 1.2in;
        font-family: 'Bree Serif', serif;
        text-align: center;
        transform: rotate(-35deg);
        opacity: 0.3;
      }
    }
    @page:left {
      @prince-overlay {
        margin-left: 0;
        margin-right: 0;
      }
    }
    @page:right {
      @prince-overlay {
        margin-left: 0;
        margin-right: 0;
      }
    }
    @page table-of-contents {
      @prince-overlay { margin-left: 0; }
    }
    @page page-empty {
      @prince-overlay { margin-left: 0; }
    }
    @page:first {
      @prince-overlay { margin-left: 0; }
    }
    div.new-date-breaker::after,
    div.journal-entry-main-container::before {
      content: attr(changed-entry-date);
      font-size: 2.5vw;
      padding-bottom: 5px;
      margin: 30px 0;
      font-family: 'Arvo';
    }
  </style>
{% endif %}
</head>
<body>
<div class="page page-empty"></div>
<div class="page page-first">
  <div class="subpage">
    <div class='content' style="position: relative; top: 50%;">
      <h5 class="document-title">
        {{ json_obj.document_title }}
      </h5>
      <p class="document-date">
      {% if json_obj.document_subtitle %}
        {{ json_obj.document_subtitle }}
      {% else %}
        {{ json_obj.document_date }}
      {% endif %}
      </p>
      <img src="{{ static_url }}images/timeline-images/logo.png" class="center logo-img" alt="logo"/>
    </div>
    
  </div>
</div>
<div class="page page-empty"></div>

<div class="page toc">
  <div class="subpage">
    <div class="table-of-contents">
      <h3>Table of Contents</h3>
        {% if json_obj.table_of_contents.intro %}
          {% set item = json_obj.table_of_contents.intro %}
          <div class="table-of-contents-body" href="#intro-chapter">
            {{ item.name}}
            <br/>
          </div>
        {% endif %}
        {% if json_obj.table_of_contents.aam and json_obj.all_about_me != '' %}
          {% set item = json_obj.table_of_contents.aam %}
          <div class="table-of-contents-body" href="#aam-chapter">
            {{ item.name }}<br/>
          </div>
        {% endif %}
        {% if json_obj.table_of_contents.journals %}
          {% set item = json_obj.table_of_contents.journals %}
          {% for journal in item.data %}
            <div class="table-of-contents-body" href="#journal-{{ journal.id }}">
              {{ journal.title }}<br/>
            </div>
          {% endfor %}
        {% endif %}
        {% if json_obj.table_of_contents.tags %}
          {% set item = json_obj.table_of_contents.tags %}
          {% for tag in item.data %}
            <div class="table-of-contents-body" href="#tag-{{ tag.id }}">
              {{ tag.title }}<br/>
            </div>
          {% endfor %}
        {% endif %}
        <div class="end-line"></div>
    </div>
    <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center logo-img" />
  </div>
</div>
<div class="page page-empty"></div>

{% if json_obj.table_of_contents.intro %}
  {% set item = json_obj.table_of_contents.intro %}
  <div class="page tct" id="intro-chapter">
    <div class="subpage">
      <h3 class="table-content-title">{{ item.name }}</h3>
      <div class='logo-img-container'>
        <div class='line left-3-margin'></div>
        <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center small-logo-img"/>
        <div class='line right-3-margin'></div>
      </div>
    </div>
  </div>
  <div class="page page-empty"></div>
  <div id='intro' class="intro">
    <div id="book-content-intro">
      <h3 class="subtitle journal-date aam-name">{{ item.name }}</h3>
      <div class="one-margin journal-text journal-introduction">{{ item.data }}</div>
    </div>
  </div>
{% endif %}

{% if json_obj.table_of_contents.aam and json_obj.all_about_me != '' %}
  {% set item = json_obj.table_of_contents.aam %}
  <div class="page tct" id="aam-chapter">
    <div class="subpage">
      <h3 class="table-content-title">{{ item.name }}</h3>
      <div class='logo-img-container'>
        <div class='line left-3-margin'></div>
        <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center small-logo-img"/>
        <div class='line right-3-margin'></div>
      </div>
    </div>
  </div>
  <div id='aam' class="aam">
    <div id="book-content-aam">
      <h3 class="subtitle journal-date aam-name">{{ item.name }}</h3>
    {% for entry in item.data.aam %}
      {% if loop.first or loop.previtem.group != entry.group %}
        <span class="one-margin aam-category-text">{{ entry.group }}</span>
      {% endif %}
      <div class="one-margin aam-question-text" >{{ entry.title }}</div>
      <div class="one-margin aam-date journal-text">{{ entry.entry_date }}</div>
      <div
        class="one-margin journal-text item-content"
        style="padding-bottom: {% if loop.last or loop.nextitem.group != entry.group %}.3{% else %}.1{% endif%}in;"
      >
        {% if json_obj.photos is true %}
          {{ entry.content|safe }}
        {% else %}
          {{ entry.no_img_content|safe }}
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if json_obj.table_of_contents.journals %}
  {% set item = json_obj.table_of_contents.journals %}
{#
  <div class="page tct" id="journals-chapter">
    <div class="subpage">
      <h3 class="table-content-title">{{ item.name }}</h3>
      <div class='logo-img-container'>
        <div class='line left-3-margin'></div>
        <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center small-logo-img"/>
        <div class='line right-3-margin'></div>
      </div>
    </div>
  </div>
  <div class="page page-empty"></div>
#}
  <div id="journals">
    <div id="book-content-journals">
      {% for journal in item.data %}
        <div class="page tct journal-title" id="journal-{{ journal.id }}">
          <div class="subpage">
            <h3 class="table-content-title">{{ journal.title }}</h3>
            <div class="journal-title-content">
              {{ journal.content|safe }}
            </div>
            <div class='logo-img-container'>
              <div class='line left-3-margin'></div>
              <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center small-logo-img"/>
              <div class='line right-3-margin'></div>
            </div>
          </div>
        </div>
        {% for entry in journal.entries %}
          {% set content = entry.content|striptags %}
          {% set is_date_changed = loop.previtem and entry.entry_date != loop.previtem.entry_date %}
        <div
          class="entry-container"
          entry-date="{{ entry.entry_date }}"
          style="border: 1px solid yellow;margin-bottom: .5in;"
        >
          {% if is_date_changed %}
            <h3
              class="subtitle journal-date journal-new-date avoid-page-break"
              style="margin: -.192in -.02in 10px -.02in;color:red;"
              entry-date="{{ entry.entry_date }}"
            >
              {{ entry.entry_date }}
            </h3>
          {% endif %}
          <div
            class="journal-entry-main-container {% if not content %}avoid-page-break{% endif%}"
            entry-date="{{ entry.entry_date }}"
            style=" border: 1px solid grey;"
          >
            <div class="journal-entry-title-container" entry-date="{{ entry.entry_date }}">
              <div class="one-margin pdf-content-header" entry-date="{{ entry.entry_date }}">
                <div class="pdf-content-title journal-title-text" entry-date="{{ entry.entry_date }}">
                  {{ entry.title }} {{ is_date_changed }}
                </div>
                {% if entry.location1 and entry.location2 %}
                  <div class="pdf-content-location" entry-date="{{ entry.entry_date }}">
                    <i class="icon-location"></i>
                    <div class="pdf-content-location-info">
                      <h3 class="pdf-location-title">{{ entry.location1 }}</h3>
                      <h5 class="pdf-location-subtitle">{{ entry.location2 }}</h5>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% if content %}
            <div
              class="one-margin journal-text item-content"
              style="orphans:1; border: 1px solid blue;"
              entry-date="{{ entry.entry_date }}"
            >
            {% if json_obj.photos is true %}
              {{ entry.content|safe }}
            {% else %}
              {{ entry.no_img_content|safe }}
            {% endif %}
            </div>
          {% endif %}
          <div
            class="avoid-page-break"
            entry-date="{{ entry.entry_date }}"
            style="height: 0px;max-height: 0px; border: 1px dotted green;"
          ></div>
          {% if entry.commenting is true and json_obj.comments is true %}
            {% for comment in journal.comments[entry.id] %}
              {% if loop.first %}
                <div
                  class="two-margin journal-comments-title-text"
                  entry-date="{{ entry.entry_date }}"
                >Comments:</div>
              {% endif %}
              <div
                class="two-margin journal-comment-container"
                entry-date="{{ entry.entry_date }}"
              >
                <div class="journal-comment-user-container">
                  <img src="{{ comment.user.avatar_image_url }}" alt="user"/>
                </div>
                <div class="journal-comment-content-container">
                  <div class="journal-comments-text">
                    {{ comment.title }} {{ comment.content }}
                  </div>
                  <div class="journal-comment-content-info">
                    <b>{{ comment.user.short_public_display_name }}</b> &nbsp; . &nbsp; {{ comment.created }}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          {% if loop.nextitem and entry.entry_date == loop.nextitem.entry_date %}
            <div class="pdf-entry-separator avoid-page-break" entry-date="{{ entry.entry_date }}">
              <i class="icon-jrnl-logo"></i>
            </div>
          {% endif %}
          {#
          {% if loop.nextitem and entry.entry_date != loop.nextitem.entry_date %}
            <div
              class="new-date-breaker avoid-page-break"
            {% if is_date_changed %}
              changed-entry-date="{{ entry.entry_date }}"
            {% endif %}
              entry-date="{{ loop.nextitem.entry_date }}"
              style="
                position: relative;
                border: 1px solid green;
                overflow: hidden;
                padding-top: 15px;
              "
            ></div>
          {% endif %}
          #}
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if json_obj.table_of_contents.tags %}
  {% set item = json_obj.table_of_contents.tags %}
  <div id="tags">
    <div id="book-content-tags">
      {% for tag in item.data %}
        <div class="page tct joutnal-title" id="tag-{{ tag.id }}">
          <div class="subpage">
            <h3 class="table-content-title">{{ tag.title }}</h3>
            <div class='logo-img-container'>
              <div class='line left-3-margin'></div>
              <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center small-logo-img"/>
              <div class='line right-3-margin'></div>
            </div>
          </div>
        </div>
        {% for entry in tag.entries %}
          {% set content = entry.content|striptags %}
          <div
            class="journal-entry-main-container"
            entry-date="{{ entry.entry_date }}"
            style="{% if content %}{% else %}padding-bottom: 15px; page-break-before: avoid; page-break-after: avoid;{%endif%}"
          >
            {% if loop.previtem and entry.entry_date != loop.previtem.entry_date %}
              <h3 class="subtitle journal-date journal-new-date">{{ entry.entry_date }}</h3>
            {% endif %}
            <div class="journal-entry-title-container">
              <div class="one-margin pdf-content-header">
                <div class="pdf-content-title journal-title-text">{{ entry.title }}</div>
                {% if entry.location1 and entry.location2 %}
                  <div class="pdf-content-location">
                    <i class="icon-location"></i>
                    <div class="pdf-content-location-info">
                      <h3 class="pdf-location-title">{{ entry.location1 }}</h3>
                      <h5 class="pdf-location-subtitle">{{ entry.location2 }}</h5>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% if content %}
            <div
              class="one-margin journal-text item-content"
              style="orphans:1;"
              entry-date="{{ entry.entry_date }}"
            >
            {% if json_obj.photos is true %}
              {{ entry.content|safe }}
            {% else %}
              {{ entry.no_img_content|safe }}
            {% endif %}
            </div>
          {% endif %}
          </div>
          {% if entry.commenting is true and json_obj.comments is true %}
            {% for comment in journal.comments[entry.id] %}
              {% if loop.first %}
                <div class="two-margin journal-comments-title-text">Comments:</div>
              {% endif %}
              <div
                class="two-margin journal-comment-container"
                entry-date="{{ entry.entry_date }}"
              >
                <div class="journal-comment-user-container">
                  <img src="{{ comment.user.avatar_image_url }}" alt="user"/>
                </div>
                <div class="journal-comment-content-container">
                  <div class="journal-comments-text">
                    {{ comment.title }} {{ comment.content }}
                  </div>
                  <div class="journal-comment-content-info">
                    <b>{{ comment.user.short_public_display_name }}</b> &nbsp; . &nbsp; {{ comment.created }}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          {% if loop.nextitem and entry.entry_date == loop.nextitem.entry_date %}
            <div class="pdf-entry-separator" entry-date="{{ entry.entry_date }}">
              <i class="icon-jrnl-logo"></i>
            </div>
          {% else %}
            {% if content %}
              <div
                entry-date="{{ entry.entry_date }}"
                style="margin-bottom: .7in; page-break-before: avoid; page-break-after: avoid;"
              ></div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endif %}
{#
  <script>
    if (typeof Prince != "undefined") {
      addBoxInfoMethods();
      Prince.trackBoxes = true;
    }
    
    function Box(x, y, w, h, u) {
        var d = 1;
    
        if (u == "cm") {
            d = 72/2.54;
        } else if (u == "in") {
            d = 72;
        } else if (u == "mm") {
            d = 72/25.4;
        } else if (u == "q") {
            d = 72/101.6;
        } else if (u == "pc") {
            d = 1/12;
        } else if (u == "pt") {
            d = 1;
        } else if (u == "px") {
            d = 72/96;
        } else {
            console.log("Box: unknown units: " + u);
        }
    
        this.x = x/d;
        this.y = y/d;
        this.w = w/d;
        this.h = h/d;
    }
    
    function addBoxInfoMethods() {
        BoxInfo.prototype.marginBox = function (u) {
            var x = this.x - this.marginLeft;
            var y = this.y + this.marginTop;
            var w = this.w + this.marginLeft + this.marginRight;
            var h = this.h + this.marginTop + this.marginBottom;
            return new Box(x, y, w, h, u);
        };
    
        BoxInfo.prototype.borderBox = function (u) {
            var x = this.x;
            var y = this.y;
            var w = this.w;
            var h = this.h;
            return new Box(x, y, w, h, u);
        };
    
        BoxInfo.prototype.paddingBox = function(u) {
            var bTop = parseFloat(this.style.borderTopWidth.slice(0, -2));
            var bRight = parseFloat(this.style.borderRightWidth.slice(0, -2));
            var bBottom = parseFloat(this.style.borderBottomWidth.slice(0, -2));
            var bLeft = parseFloat(this.style.borderLeftWidth.slice(0, -2));
            var x = this.x + bLeft;
            var y = this.y - bTop;
            var w = this.w - bLeft - bRight;
            var h = this.h - bTop - bBottom;
            return new Box(x, y, w, h, u);
        };
    
        BoxInfo.prototype.contentBox = function(u) {
            var bTop = parseFloat(this.style.borderTopWidth.slice(0, -2));
            var bRight = parseFloat(this.style.borderRightWidth.slice(0, -2));
            var bBottom = parseFloat(this.style.borderBottomWidth.slice(0, -2));
            var bLeft = parseFloat(this.style.borderLeftWidth.slice(0, -2));
            var pTop = parseFloat(this.style.paddingTop.slice(0, -2));
            var pRight = parseFloat(this.style.paddingRight.slice(0, -2));
            var pBottom = parseFloat(this.style.paddingBottom.slice(0, -2));
            var pLeft = parseFloat(this.style.paddingLeft.slice(0, -2));
            var x = this.x + bLeft + pLeft;
            var y = this.y - bTop - pTop;
            var w = this.w - bLeft - bRight - pLeft - pRight;
            var h = this.h - bTop - bBottom - pTop - pBottom;
            return new Box(x, y, w, h, u);
        };
    }
    Prince.trackBoxes = true;

    function logPageCount() {
      Log.data("total-page-count", Prince.pageCount);
    }

    Prince.addEventListener("complete", logPageCount, false);

    Prince.addEventListener("complete", function() {
      var ndb = document.getElementsByClassName("new-date-breaker");
      Log.data("tata", ndb);
      for (var i = 0; i < ndb.length; ++i)
        {
          var ins = ndb[i];
          var b = ins.getPrinceBoxes()[0];
          Log.data("contentBox. y: ", b.borderBox("px").y + " h: " + b.borderBox("px").h);
          ins.style.display = 'none';
          if (ins) {
            // ins.remove();
          }
        }
    }, false);
  </script>
#}
</body>
</html>
