<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Khula">
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap"
      rel="stylesheet"
    />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap"
    rel="stylesheet"
  />
  <link href="{{ static_url }}css/pdf.css" rel="stylesheet"/>

{% if json_obj.export_format == '6X9' %}
  <style>
    .page {
      width: 6in;
      height: 9in;
      min-height: 9in;
      padding: 0.2in;
      margin: 0.1in auto;
      background: white;
      position: relative;
    }

    .subpage {
      height: 8.6in;
      min-height: 8.6in;
      max-height: 8.6in;
      position: relative;
    }

    @page {
      size: 6in 9in;
      margin: 0;
    }

    @media print {
      .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        position: initial;
        page-break-after: always;
      }
    }
  </style>
{% else %}
  <style>
    .page {
      width: 210mm;
      height: 297mm;
      min-height: 297mm;
      padding: 20mm;
      margin: 10mm auto;
      background: white;
      position: relative;
    }

    .subpage {
      /*padding: 10mm;*/
      height: 257mm;
      min-height: 257mm;
      max-height: 257mm;
      position: relative;
      /*border: 1mm solid black;*/
    }
    /*.first.last.column{}*/

    @page {
      size: A4;
      margin: 0;
    }

    @media print {
      .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        position: initial;
      }
    }

    .page:nth-child(2n) .page-number {
      left: 20mm;
    }

    .page:nth-child(2n+1) .page-number {
      right: 20mm;
    }
  </style>
{% endif %}

{% if json_obj.color is false %}
  <style>
    img { 
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
  </style>
{% endif %}

{% if json_obj.preview is true %}
  <style>
    .watermark { opacity: 0.1; }
  </style>
{% endif %}

  <script type="text/javascript" src="{{ static_url }}vendors/jquery.js"></script>
  <script src="{{ static_url }}vendors/autocolumn.min.js" type="text/javascript" charset="utf-8"></script>

  <template id="page_template">
    <div class="page">
      <div class="subpage"></div>
    </div>
  </template>
  <script>
  $(function(){
      var content_height = $('.subpage').height() - 20;	// the height of the content, discluding the header/footer
      var page = 1; // the beginning page number to show in the footer
      var pageContentIndex = 0;
      var pageContents = ['intro', 'aam', 'journals'];
      // console.log(content_height);
      function buildPages(name, contentPageCount){
        var targetId = "#book-content-" + name,
            targetElement = $(targetId);
        if(targetElement.contents().length > 0){
            // add page number to table of contents
            if (contentPageCount === 0) {
              $(`#${name}-pagenumber`).text(page);
            }
            // when we need to add a new page, use a jq object for a template
            // or use a long HTML string, whatever your preference
            _page = page_template.content.cloneNode(true);
            $page = $(_page);

            // fun stuff, like adding page numbers to the footer
            $page.find(".footer .page-number").append(page);
            $(targetElement).parent().append($page);
            
            const targetSelector = `#${$(targetElement).parent().attr("id")} .page:last .subpage`;
            contentPageCount ++;
            // here is the columnizer magic
            targetElement.columnize({
              columns: 1,
              keepHtml: true,
              target: targetSelector,
              overflow: {
                height: content_height,
                id: targetId,
                doneFunc: function(e){
                    const title = targetElement.children().first().attr('title');
                    if (title) {
                        targetElement.prepend($(`
                        <h3 class="subtitle">
                            ${title}
                        </h3>`));
                    }

                    $(targetSelector).append(`
                      <div class="watermark">PREVIEW</div>
                      <div style="position: absolute; bottom: 0;" class="page-number"> ${page} </div>
                    `);

                    page ++;

                    buildPages(name, contentPageCount);
                  }
              }
            });
        } else {
          if (contentPageCount % 2 === 1) {
            _page = page_template.content.cloneNode(true);
            $page = $(_page);
            $(targetElement).parent().append($page);
          }

          pageContentIndex ++;
          if (pageContentIndex < pageContents.length) {
            buildPages(pageContents[pageContentIndex], 0);
          }
        }
      }

      $(document).ready(() => { 
        const count = $("img").length;
        let  loadedCount = 0;
        
        $("img").load(() => {
          loadedCount ++;
          if (loadedCount === count) {
            buildPages(pageContents[0], 0);
          }
        });
      });
     
    });
  </script>
</head>
<body>
<div class="page">
  <div class="subpage">
    <div class='content' style="position: relative; top: 50%; transform: translateY(-50%);">
      <h5 class="document-title">
        {{ json_obj.document_title }}
      </h5>
      <p class="document-date">
      {% if json_obj.document_subtitle %}
        {{ json_obj.document_subtitle }}
      {% else %}
        {{ json_obj.document_date }}
      {% endif %}
      </p>
      <img src="{{ static_url }}images/timeline-images/logo.png" class="center logo-img" alt="logo"/>
    </div>
    <div class="watermark">PREVIEW</div>
  </div>
</div>
<div class="page"><div class="subpage"><div class="watermark">PREVIEW</div></div></div>

<div class="page">
  <div class="subpage">
    <div class="table-of-contents">
      <h3>Table of Contents</h3>
        {% if json_obj.table_of_contents.intro %}
          {% set item = json_obj.table_of_contents.intro %}
          <div class="table-of-contents-body">
            {{ item.name }}
            </br>
            <span id='intro-pagenumber'>1</span>
        </div>
        {% endif %}
        {% if json_obj.table_of_contents.aam %}
          {% set item = json_obj.table_of_contents.aam %}
          <div class="table-of-contents-body">
            {{ item.name }}
            </br>
            <span id='aam-pagenumber'>2</span>
          </div>
        {% endif %}
        {% if json_obj.table_of_contents.journals %}
          {% set item = json_obj.table_of_contents.journals %}
          <div class="table-of-contents-body">
            {{ item.name }}
            </br>
            <span id='journals-pagenumber'>3</span>
          </div>
        {% endif %}
        <div class="end-line"></div>
    </div>
    <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center logo-img" />
    <div class="watermark">PREVIEW</div>
  </div>
</div>
<div class="page"><div class="subpage"><div class="watermark">PREVIEW</div></div></div>

{% if json_obj.table_of_contents.intro %}
  {% set item = json_obj.table_of_contents.intro %}
  <div class="page">
    <div class="subpage">
      <div class="vertical-align-center">
          <h3 class="table-content-title">{{ item.name }}</h3>
          <div class='logo-img-container'>
            <div class='line left-3-margin'></div>
            <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center small-logo-img"/>
            <div class='line right-3-margin'></div>
          </div>
      </div>
      <div class="watermark">PREVIEW</div>
    </div>
  </div>
  <div class="page"><div class="subpage"><div class="watermark">PREVIEW</div></div></div>
  <div id='intro'>
    <div id="book-content-intro">
      <h3 class="subtitle right-align-text">{{ item.name }}</h3>
      <div class="two-margin journal-text">{{ item.data }}</div>
    </div>
  </div>
{% endif %}

{% if json_obj.table_of_contents.aam and json_obj.all_about_me %}
  {% set item = json_obj.table_of_contents.aam %}
  <div class="page">
    <div class="subpage">
      <div class="vertical-align-center">
          <h3 class="table-content-title">{{ item.name }}</h3>
          <div class='logo-img-container'>
            <div class='line left-3-margin'></div>
            <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center small-logo-img"/>
            <div class='line right-3-margin'></div>
          </div>
      </div>
      <div class="watermark">PREVIEW</div>
    </div>
  </div>
  <div class="page"><div class="subpage"><div class="watermark">PREVIEW</div></div></div>
  <div id='aam'>
    <div id="book-content-aam">
      <h3 class="subtitle right-align-text">{{ item.name }}</h3>
    {% for entry in item.data.aam %}
      {% if loop.first or loop.previtem.group != entry.group %}
        <span class="two-margin aam-category-text">{{ entry.group }}</span>
      {% endif %}
      <div class="two-margin aam-question-text">{{ entry.title }}</div>
      <div class="two-margin journal-text" style="font-style: italic;">
        {{ entry.entry_date }}
      </div>
      <div class="two-margin journal-text" style="padding-bottom: 20mm;">
        {% if json_obj.photos is true %}
          {{ entry.content|safe }}
        {% else %}
          {{ entry.no_img_content|safe }}
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if json_obj.table_of_contents.journals %}
  {% set item = json_obj.table_of_contents.journals %}
  <div class="page">
    <div class="subpage">
      <div class="vertical-align-center">
          <h3 class="table-content-title">{{ item.name }}</h3>
          <div class='logo-img-container'>
            <div class='line left-3-margin'></div>
            <img src="{{ static_url }}images/timeline-images/logo.png" alt="logo" class="center small-logo-img"/>
            <div class='line right-3-margin'></div>
          </div>
      </div>
      <div class="watermark">PREVIEW</div>
    </div>
  </div>
  <div class="page"><div class="subpage"><div class="watermark">PREVIEW</div></div></div>
  <div id="journals">
  <div id="book-content-journals">
    {% for journal in item.data %}
      <div class="two-margin journal-text">
        {{ journal.content|safe }}
      </div>
      {% for entry in journal.entries %}
        <h3 class="subtitle right-align-text">{{ entry.entry_date }}</h3>
        <div title="{{entry.entry_date}}" class="two-margin journal-title-text">{{ entry.title }}</div>
        <div title="{{entry.entry_date}}" class="two-margin journal-text">
        {% if json_obj.photos is true %}
          {{ entry.content|safe }}
        {% else %}
          {{ entry.no_img_content|safe }}
        {% endif %}
        </div>
        {% if entry.commenting is true %}
          {% for comment in journal.comments[entry.id] %}
            {% if loop.first %}
              <div class="three-margin journal-comments-title-text">Comments:</div>
            {% endif %}
            {% if loop.first or loop.previtem.user.username != comment.user.username %}
              <div title="{{entry.entry_date}}" class="three-margin journal-comments-username">
                {{ comment.user.short_public_display_name }}:
              </div>
            {% endif %}
              <div title="{{entry.entry_date}}" class="three-margin journal-comments-text">
                {{ comment.title }} {{ comment.content }}
              </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endif %}
</body>
</html>
